<body>
    <h1>Página para crear nuevos usuarios</h1>

    <div><?php echo $this->mensaje; ?></div>

    <form action="<?php echo constant('URL'); ?>nuevoUsuario/registrarEmpleado" method="POST">
        <p>
            <label for="costo_hora">Costo por hora</label>
            <input type="text" name="costo_hora" id="">
        </p>

        <p>
            <label for="nombre_empleado">Nombre</label>
            <input type="text" name="nombre_empleado" id="" required>
        </p>

        <p>
            <label for="cargo">Cargo</label>
            <input type="text" name="cargo" id="">
        </p>

        <p>
            <input type="submit" value="Registrar nuevo empleado">
        </p>
    </form>
</body>